%li
  = link_to category.name, category_path(category)
  \-
  = link_to 'Edit', edit_category_path(category)
  \-
  = link_to 'New', new_category_path(:parent => category)
  \-
  = link_to 'New Project', new_project_path(:category => category)
  - unless category.children.empty?
    %ul= render partial: 'category', collection: category.children
  - unless category.resources.empty?
    %ul= render partial: 'project', collection: category.resources
  - if category.children.empty? and category.resources.empty?
    \-
    = link_to 'Delete', category_path(category), :method => :delete

