%li
  - if category.is_a?(Category)
    = link_to category.name, category_path(category)
    \-
    = link_to 'Edit', edit_category_path(category)
    \-
    = link_to 'New', new_category_path(:parent => category)
    - unless category.children.empty?
      %ul
        = render partial: 'category', collection: category.children
    - else
      \-
      = link_to 'Delete', category_path(category), :method => :delete
  - elsif category.is_a?(Project)
    \--
    = link_to category.name, creator_project_nodes_path(category, format: :json) 
    \--
    = link_to 'Clone', creator_project_clone_path(category), method: :put
