!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ name: 'viewport', content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : 'Pitri.net'
    = stylesheet_link_tag    "/typicons-font/typicons.min.css" # Typicons in public (not asset)
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = stylesheet_link_tag    params[:controller], media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag params[:controller], "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    
    / fav and touch icons
    %link{href: "/assets/app/ico/apple-touch-icon-144-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "144x144"}/
    %link{href: "/assets/app/ico/apple-touch-icon-114-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "114x114"}/
    %link{href: "/assets/app/ico/apple-touch-icon-72-precomposed.png", rel: "apple-touch-icon-precomposed", sizes: "72x72"}/
    %link{href: "/assets/app/ico/apple-touch-icon-57-precomposed.png", rel: "apple-touch-icon-precomposed"}/
    %link{href: "/assets/app/ico/favico.png", rel: "shortcut icon"}/
    %link{href: "/assets/app/ico/favico.ico", rel: "shortcut icon"}/
    / theme fonts
    %link{href: "http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300italic,300,400italic,500,500italic,700,700italic,900,900italic", rel: "stylesheet", type: "text/css"}/
    / theme bootstrap stylesheets
    %link{href: "/assets/bootstrap/css/bootstrap.css", rel: "stylesheet"}/
    / theme dependencies stylesheets
    %link{href: "/assets/app/css/dependencies.css", rel: "stylesheet"}/
    / theme app main.css (this import of all custom css, you can use requirejs for optimizeCss or grunt to optimize them all)
    %link{href: "/assets/app/css/syrena-admin.css", rel: "stylesheet"}/
  %body    
    %header.content-header
      / header actions
      .header-actions.pull-right
        / (recomended: dont change the id value)
        = link_to 'Create', projects_path
        = link_to 'Browse', categories_path
        .btn-group
          %a#users-setting.btn.btn-icon.data-toggle{"data-toggle" => "dropdown", role: "button"}
            %i.icon.ion-gear-b
          %ul.dropdown-menu.dropdown-extend.pull-right{role: "menu"}
            - if user_signed_in?
              %li.dropdown-profile
                .dp-cover
                  %img.img-bg{alt: "", src: "/assets/app/img/cover-blur.jpg"}/
                  %a.img-avatar{href: "/page_profile.html"}
                    %img.img-circle{alt: "", src: "/assets/app/img/avatar4.png"}/
                  .dp-details Mr. Doe - UI Designer
              %li
                .row.text-center
                  %a.col-lg-4.col-sm-4.col-sm-4.col-xs-4{href: "#"}
                    138
                    %small Posts
                  %a.col-lg-4.col-sm-4.col-sm-4.col-xs-4{href: "#"}
                    26
                    %small Items
                  %a.col-lg-4.col-sm-4.col-sm-4.col-xs-4{href: "#"}
                    570
                    %small Follow
              %li.dropdown-footer
                .clearfix
                  = link_to 'Log Out', destroy_user_session_path, method: :delete
                  %a.btn.btn-sm.btn-default.pull-right
                  = link_to 'Profile', edit_user_registration_path
                  %a.btn.btn-sm.btn-default.pull-left
            - else
              %li= link_to 'Sign In', new_user_session_path
        %a#toggle-aside.btn.btn-icon{role: "button"}
          %i.icon.ion-navicon-round
      .header-actions.pull-left
        %button#toggle-content.btn.btn-icon{type: "button"}
          %i.icon.ion-navicon-round
        %button#toggle-search.btn.btn-icon{type: "button"}
          %i.icon.ion-search
      %h1.content-title= link_to 'Pitri.net', root_path
      
/##         
/ #        
/ #        - else
/ #           %li= link_to 'Sign In', new_user_session_path
/ #       / Left Nav Section
/ #       %ul.left
/ #         %li.has-form
/ #           .row.collapse
/ #             = form_tag do
/ #               .large-9.small-9.columns
/ #                 = text_field_tag(:search, nil, placeholder: 'Search Tipis')
/ #              .large-3.small-3.columns
/ #                 = link_to('Go', nil, class: 'alert button expand')
/ #                 
=yield  
