!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : 'Tipi'
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags

  %body
    %nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            = link_to 'Tipi', root_path
        %li.toggle-topbar.menu-icon
          %a{href:"#"}
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li= link_to 'Create'
          %li= link_to 'Browse', categories_path
          %li.has-dropdown
            = link_to 'My Tipi'
            %ul.dropdown
              %li= link_to 'My Tipis'
              %li= link_to 'Profile'
              %li= link_to 'Log Out'
        / Left Nav Section
        %ul.left
          %li.has-form
            .row.collapse
              = form_tag do
                .large-9.small-9.columns
                  = text_field_tag(:search, nil, placeholder: 'Search Tipis')
                .large-3.small-3.columns
                  = link_to('Go', nil, class: 'alert button expand')
  
    = yield  
  %footer hello I am a footer