!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: "width=device-width, initial-scale=1.0" }
    %title= content_for?(:title) ? yield(:title) : 'Tipi'
    %script{src: "http://d3js.org/d3.v3.min.js"}
<<<<<<< HEAD
    %script{src: "http://cpettitt.github.io/project/dagre-d3/latest/dagre-d3.js"}
=======
    %script{src: "http://cpettitt.github.io/project/dagre-d3/latest/dagre-d3.min.js"}
    = stylesheet_link_tag    "/typicons-font/typicons.min.css" # Typicons in public (not asset)
>>>>>>> a91a148d55000e3177902682d4cd6f24603e8bad
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
  %body
    /[if IE]
      %div{style: "clear: both; height: 112px; padding:0; position: relative;"}
        %a{href: "http://www.theie8countdown.com/ie-users-info"}
          %img{alt: "", border: "0", height: "112", src: "http://www.theie8countdown.com/assets/badge_iecountdown.png", width: "348"}
    %nav.top-bar{data:{"topbar" => ""}}
      %ul.title-area
        %li.name
          %h1
            = link_to 'Tipi', root_path
        %li.toggle-topbar.menu-icon
          %a{href:"#"}
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li= link_to 'Create', projects_path
          %li= link_to 'Browse', categories_path
          %li.has-dropdown
            = link_to 'My Tipi'
            %ul.dropdown
              %li= link_to 'My Tipis'
              %li= link_to 'Profile'
              %li= link_to 'Log Out'
        / Left Nav Section
        %ul.left
          %li.has-form
            .row.collapse
              = form_tag do
                .large-9.small-9.columns
                  = text_field_tag(:search, nil, placeholder: 'Search Tipis')
                .large-3.small-3.columns
                  = link_to('Go', nil, class: 'alert button expand')
  
    = yield  
    %footer hello I am a footer
